# If Loop - check if the  condition is satisfied and display the result as per the same

In [1]:
## if loop with out else part , in which condition is not satisfied and else part is not handled
a = 3
b = 5
if (a > b):
    print("a is greater than b")
     
# Inference : since a is less than b and there is no else part
# it will not throw any error, also there will not be any message which will be displayed

In [7]:
## if loop with out else part, in which condition is not satisfied and else part is  handled
a = 3
b = 5
if (a > b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [8]:
## if loop with wrong intend will throw an error
a = 3
b = 5
if (a > b):
    print("a is greater than b")
    else:
    print("b is greater than a")

SyntaxError: invalid syntax (<ipython-input-8-aeed0c6e69a3>, line 6)

In [1]:
## check if the value is even or odd.
## here we have only 2 conditions to be verified
## so we use if else
i = 10
if (i % 2 == 0):
    print(" Number is Even number")
else:
    print("Number is Odd number")

 Number is Even number

In [2]:
## If loop, to check more than one condition
## compare 3 varaibles
## find which is the greatest number
    
a = 15; b = 21; c = 60
if  (a > b) & (a>c) :
    print("A is the greatest!!!")
elif  (b > a) & (b > c) :
    print("B is the greatest!!")
else:
    print("C is the greatest")

C is the greatest

# For Loop - Help to run through a loop for the given operation

In [4]:
### Simple for loop
for i in range(3):
    print("Hello World")

Hello World
Hello World
Hello World

In [19]:
## For loop where the range can be specified range(min_value,max_value)
for i in range(3,8):
    print("value of i :",i)

value of i : 3
value of i : 4
value of i : 5
value of i : 6
value of i : 7

# For and IF loop combination

In [21]:
for i in range(3,8):
    if(i%2 == 0):
        print(i,"Even number")
    else:
        print(i,"Odd number")

3 Odd number
4 Even number
5 Odd number
6 Even number
7 Odd number

In [6]:
# if and break statement

for x in range(1,10): 
    print("value of x :", x)
    if(x == 4):
          break #Break statement will exit the loop block 

print("I have exited the loop")

value of x : 1
value of x : 2
value of x : 3
value of x : 4
I have exited the loop

In [37]:
# if and continue statement

for x in range(1,10): 
    print("value of x :", x)
    if(x == 4):
        print("There is match found")
        continue #continue statement checks for the condition and continues the loop

value of x : 1
value of x : 2
value of x : 3
value of x : 4
There is match found
value of x : 5
value of x : 6
value of x : 7
value of x : 8
value of x : 9

In [40]:
# while loop
# While loop will excuted untill the condition is exhausted
# xample - to read all the files in a folder, while loop is the best option
## print annworks n time, where n = 5

count = 1
while(count <=5) :
 print("hello world")
 count = count + 1

hello world
hello world
hello world
hello world
hello world

In [1]:
## display annworks 5 times, without changing the values of while condition
count = 1
while(count <=10) :
    print("hello world")
    if(count==5): 
     break
    count = count + 1

hello world
hello world
hello world
hello world
hello world

In [2]:
## check the sum of first 50 natural numbers
## simple its for 50, n here is 50
n = 50

##If loops allow only if the number is a positive number
if n < 0:
   print("enter a +ve number")
else:
   sum = 0
   # use while loop to iterate un till zero
   while(n > 0):
       sum += n   # initial value of n is 50 and it keeps adding
       #print(sum)
       n -= 1     # n value is decrease by 1 for every run
print("The sum of 50 natural number is",sum)

The sum of 50 natural number is 1275

# Combination of For, If, and While

In [3]:

sum = 0  # initialize a vaiable

for x in range(555, 1111): ## given range, min value is 555 and max value is 1111
    if (x%7==0): ## check if the value is divisble by 7
        
        sum = sum + x
        print(x) # prints all the elements which is divisible by 7, within the specified range

# sum up all the values which is divisible by 7 
print("sum of value within the range and divisible by 7 :",sum)

560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994
1001
1008
1015
1022
1029
1036
1043
1050
1057
1064
1071
1078
1085
1092
1099
1106
sum of value within the range and divisible by 7 : 65807

In [7]:
##  count the number of numbers between 555 and 1111 which are divisible by 7 
lst=[] ## create an empty list
for x in range(555, 1111): ## given range, min value is 555 and max value is 1111
    if (x%7==0): ## check if the value is divisble by 7
        lst.append(x) ## values are added every time to the list
        print(x)
print(len(lst))

560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994
1001
1008
1015
1022
1029
1036
1043
1050
1057
1064
1071
1078
1085
1092
1099
1106
79

In [ ]:
# Functions in Python

In [47]:
## find the sum of square of first 10  natural numbers
##formula   n * (n + 1) * (2*n + 1) / 6
def sum_sq(n): 
    return (n * (n + 1) *  (2 * n + 1)) / 6

In [52]:
### call the function
sum_sq(3) # 1 + 4 + 9

14.0

In [16]:
## get sum of squares of all the even numbers and odd number  between 334 and 667 in seperate list

even_sq = [] ## create an empty list for even
odd_sq = [] ## create an empty list for odd

for i in range(334,667):
     if (i%2==0): # if even
        even_sq.append(i*i) # append values to even list
     else:
        odd_sq.append(i*i) # if odd, append values to odd list
print(even_sq)
print(odd_sq)
sum(odd_sq+even_sq)

[111556, 112896, 114244, 115600, 116964, 118336, 119716, 121104, 122500, 123904, 125316, 126736, 128164, 129600, 131044, 132496, 133956, 135424, 136900, 138384, 139876, 141376, 142884, 144400, 145924, 147456, 148996, 150544, 152100, 153664, 155236, 156816, 158404, 160000, 161604, 163216, 164836, 166464, 168100, 169744, 171396, 173056, 174724, 176400, 178084, 179776, 181476, 183184, 184900, 186624, 188356, 190096, 191844, 193600, 195364, 197136, 198916, 200704, 202500, 204304, 206116, 207936, 209764, 211600, 213444, 215296, 217156, 219024, 220900, 222784, 224676, 226576, 228484, 230400, 232324, 234256, 236196, 238144, 240100, 242064, 244036, 246016, 248004, 250000, 252004, 254016, 256036, 258064, 260100, 262144, 264196, 266256, 268324, 270400, 272484, 274576, 276676, 278784, 280900, 283024, 285156, 287296, 289444, 291600, 293764, 295936, 298116, 300304, 302500, 304704, 306916, 309136, 311364, 313600, 315844, 318096, 320356, 322624, 324900, 327184, 329476, 331776, 334084, 336400, 338724, 341056, 343396, 345744, 348100, 350464, 352836, 355216, 357604, 360000, 362404, 364816, 367236, 369664, 372100, 374544, 376996, 379456, 381924, 384400, 386884, 389376, 391876, 394384, 396900, 399424, 401956, 404496, 407044, 409600, 412164, 414736, 417316, 419904, 422500, 425104, 427716, 430336, 432964, 435600, 438244, 440896, 443556]
[112225, 113569, 114921, 116281, 117649, 119025, 120409, 121801, 123201, 124609, 126025, 127449, 128881, 130321, 131769, 133225, 134689, 136161, 137641, 139129, 140625, 142129, 143641, 145161, 146689, 148225, 149769, 151321, 152881, 154449, 156025, 157609, 159201, 160801, 162409, 164025, 165649, 167281, 168921, 170569, 172225, 173889, 175561, 177241, 178929, 180625, 182329, 184041, 185761, 187489, 189225, 190969, 192721, 194481, 196249, 198025, 199809, 201601, 203401, 205209, 207025, 208849, 210681, 212521, 214369, 216225, 218089, 219961, 221841, 223729, 225625, 227529, 229441, 231361, 233289, 235225, 237169, 239121, 241081, 243049, 245025, 247009, 249001, 251001, 253009, 255025, 257049, 259081, 261121, 263169, 265225, 267289, 269361, 271441, 273529, 275625, 277729, 279841, 281961, 284089, 286225, 288369, 290521, 292681, 294849, 297025, 299209, 301401, 303601, 305809, 308025, 310249, 312481, 314721, 316969, 319225, 321489, 323761, 326041, 328329, 330625, 332929, 335241, 337561, 339889, 342225, 344569, 346921, 349281, 351649, 354025, 356409, 358801, 361201, 363609, 366025, 368449, 370881, 373321, 375769, 378225, 380689, 383161, 385641, 388129, 390625, 393129, 395641, 398161, 400689, 403225, 405769, 408321, 410881, 413449, 416025, 418609, 421201, 423801, 426409, 429025, 431649, 434281, 436921, 439569, 442225]

86327142